header {
    margin-top: 20px !important;
}

.formBtn{
    background-color: #bbac29 !important;
    border: 4px solid rgba(245, 235, 148, 0.87) !important;
    border-radius: 0% !important;
    color: #eff8f7 !important;
}
.formBtn:hover {
    background-color: #f0dd32 !important;
    color: #a09321 !important;
}

.smooth-hover, .smooth-hover * {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
.dark-hover:hover {
    background-color: black !important;
}