.model-table tbody {
    border-width: 2px;
}
.model-table tbody tr:hover {
    background-color: rgba(211, 211, 211, 0.459);
}
.model-table tbody {
    text-align: center;
    width: 100%;
    display: block;
    height: 380px;
    overflow-y: auto;
}

.table-select {
    border-radius: 0%;
    border-width: 2px;
    background-color: white;
    appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border-style: solid;
    border-color: rgb(128, 128, 128);
}