.project-card {
    max-width: 260px !important;
    border: none !important;
}

.project-card .card-title {
    text-align: center;
    font: 24px Play, sans-serlif !important;
    color: rgb(85, 110, 108)
}